<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TensorSharpStresser.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
	</runtime>
    <applicationSettings>
        <TensorSharpStresser.Settings>
            <setting name="ModelFile" serializeAs="String">
                <value>model.graph</value>
            </setting>
            <setting name="ImgSize" serializeAs="String">
                <value>320, 200</value>
            </setting>
            <setting name="StressCycles" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TensorProcessors" serializeAs="String">
                <value>/CPU:0,/GPU:0</value>
            </setting>
            <setting name="VideoSource" serializeAs="String">
                <value>test.mp4</value>
            </setting>
            <setting name="SourcesPerProcessor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WhiteNoiceSources" serializeAs="String">
                <value>True</value>
            </setting>
        </TensorSharpStresser.Settings>
    </applicationSettings>
</configuration>